<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="c4jnature"
         name="C4J Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="net.sourceforge.c4jplugin.internal.nature.C4JProjectNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <builder
            id="net.sourceforge.c4jplugin.c4jbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <factories enableDefault="true">
         <factory class="net.sourceforge.c4jplugin.internal.ap.ContractAnnotationProcessorFactory"/>
      </factories>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="net.sourceforge.c4jplugin.internal.decorators.C4JDecorator"
            id="net.sourceforge.c4j.plugin.decorators.C4JDecorator"
            label="%decoratorLabelC4J"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.jdt.core.IMethod">
               </objectClass>
               <and>
               <objectState
                     name="projectNature"
                     value="net.sourceforge.c4jplugin.c4jnature">
               </objectState>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </and>
            </or>
         </enablement>
         <description>%decoratorDescrC4J</description>
      </decorator>
   </extension>
   <extension
         id="c4jbuilder"
         name="%c4jBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.sourceforge.c4jplugin.internal.builder.C4JBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="iprojectcontributions"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="net.sourceforge.c4j.plugin.internal.popup.tools"
               label="%c4jTools">
            <groupMarker name="group0"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature"/>
               <not>
                  <objectState
                        name="nature"
                        value="net.sourceforge.c4jplugin.c4jnature"/>
               </not>
               <objectState
                     name="open"
                     value="true"/>
            </and>
         </visibility>
         <action
               class="net.sourceforge.c4jplugin.internal.ui.actions.AddC4JNatureAction"
               id="net.sourceforge.c4j.plugin.internal.actions.addc4jnature"
               label="%convertToC4J"
               menubarPath="net.sourceforge.c4j.plugin.internal.popup.tools/group0"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="iprojectcontributions"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="net.sourceforge.c4j.plugin.internal.popup.c4jtools"
               label="%c4jTools">
            <groupMarker name="group0"/>
            <separator name="net.sourceforge.c4jplugin.separator2"/>
            <groupMarker name="group1"/>
         </menu>
         <visibility>
            <objectState
                  name="nature"
                  value="net.sourceforge.c4jplugin.c4jnature"/>
         </visibility>
         <action
               class="net.sourceforge.c4jplugin.internal.ui.actions.RemoveC4JNatureAction"
               id="net.sourceforge.c4j.plugin.internal.actions.removec4jnature"
               label="%removeC4JNature"
               menubarPath="net.sourceforge.c4j.plugin.internal.popup.c4jtools/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="iprojectcontributions"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="net.sourceforge.c4j.plugin.internal.popup.c4jtools"
               label="%c4jTools">
            <groupMarker name="group0"/>
            <separator name="net.sourceforge.c4jplugin.separator1"/>
            <groupMarker name="group1"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="net.sourceforge.c4jplugin.c4jnature"/>
         </visibility>
         <action
               class="net.sourceforge.c4jplugin.internal.ui.actions.RefreshC4JModelAction"
               id="net.sourceforge.c4j.plugin.internal.actions.refreshc4jmodelaction"
               label="%refreshModelAction"
               menubarPath="net.sourceforge.c4j.plugin.internal.popup.c4jtools/group0"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.c4jplugin.internal.ui.preferences.C4JPreferenceInitializer"/>
   </extension> <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.c4jplugin.internal.ui.preferences.C4JPreferencePage"
            id="net.sourceforge.c4jplugin.internal.preferences.C4JPreferencePage"
            name="C4J">
      </page>
      <page
            category="net.sourceforge.c4jplugin.internal.preferences.C4JPreferencePage"
            class="net.sourceforge.c4jplugin.internal.ui.preferences.C4JAutomationPreferencePage"
            id="net.sourceforge.c4jplugin.internal.ui.preferences.C4JAutomationPreferencePage"
            name="%preferencePageAutomation">
      </page>
      <page
            category="net.sourceforge.c4jplugin.internal.preferences.C4JPreferencePage"
            class="net.sourceforge.c4jplugin.internal.ui.preferences.C4JDecoratorPreferencePage"
            id="net.sourceforge.c4jplugin.internal.ui.preferences.C4JDecoratorPreferencePage"
            name="%preferencePageDecoration">
      </page>

      <page
            category="net.sourceforge.c4jplugin.internal.preferences.C4JPreferencePage"
            class="net.sourceforge.c4jplugin.internal.ui.preferences.C4JLaunchPreferencePage"
            id="net.sourceforge.c4jplugin.internal.ui.preferences.C4JLaunchPreferencePage"
            name="%preferencePageLaunch"/>   </extension>
   <extension
         id="contractedclassinvariantmarker"
         name="%c4jContractedClassInvariantMarker"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="contractReferences">
      </attribute>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true"/>
   </extension>
   <extension
         id="classinvariantmarker"
         name="%c4jClassInvariantMarker"
         point="org.eclipse.core.resources.markers">
      <super type="net.sourceforge.c4jplugin.methodmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="contractedmethodmarker"
         name="%c4jContractedMethodMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="handleIdentifier">
      </attribute>
      <attribute
            name="contractReferences">
      </attribute>
      <attribute
            name="contractType">
      </attribute>
      <persistent value="true"/>
   </extension>
   <extension
         id="methodmarker"
         name="%c4jMethodMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="handleIdentifier"/>
      <attribute name="contractType"/>
   </extension>
   <extension
         id="problemmarker"
         name="%c4jProblemMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="net.sourceforge.c4jplugin.contractedclassinvariantmarker"
            name="net.sourceforge.c4jplugin.annotationtypes.ContractedClassInvariantAnnotation">
      </type>
      <type
            markerType="net.sourceforge.c4jplugin.classinvariantmarker"
            name="net.sourceforge.c4jplugin.annotationtypes.ClassInvariantAnnotation"/>
      <type
            markerType="net.sourceforge.c4jplugin.contractedmethodmarker"
            name="net.sourceforge.c4jplugin.annotationtypes.ContractedMethodAnnotation">
      </type>
      <type
            markerType="net.sourceforge.c4jplugin.methodmarker"
            name="net.sourceforge.c4jplugin.annotationtypes.MethodAnnotation"/>
      <type
            markerSeverity="1"
            markerType="net.sourceforge.c4jplugin.problemmarker"
            name="net.sourceforge.c4jplugin.annotationtypes.WarningAnnotation"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.c4jplugin.annotationtypes.ContractedClassInvariantAnnotation"
            colorPreferenceKey="c4jContractedClassInvariantIndicationColor"
            colorPreferenceValue="248,157,0"
            contributesToHeader="false"
            icon="icons/markers/contracted_class_invariant.gif"
            includeOnPreferencePage="true"
            label="%c4jContractedClassInvariantAnnotation"
            overviewRulerPreferenceKey="c4jContractedClassInvariantIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="c4jContractedClassInvariantIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="c4jContractedClassInvariantIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.sourceforge.c4jplugin.annotationtypes.ClassInvariantAnnotation"
            colorPreferenceKey="c4jClassInvariantIndicationColor"
            colorPreferenceValue="246,76,14"
            contributesToHeader="false"
            icon="icons/markers/class_invariant.gif"
            includeOnPreferencePage="true"
            label="%c4jClassInvariantAnnotation"
            overviewRulerPreferenceKey="c4jClassInvariantIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="c4jClassInvariantIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="c4jClassInvariantIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="net.sourceforge.c4jplugin.internal.annotationtypes.ContractedMethodAnnotationImageProvider"
            annotationType="net.sourceforge.c4jplugin.annotationtypes.ContractedMethodAnnotation"
            colorPreferenceKey="c4jContractedMethodIndicationColor"
            colorPreferenceValue="248,157,0"
            contributesToHeader="false"
            includeOnPreferencePage="true"
            label="%c4jContractedMethodAnnotation"
            overviewRulerPreferenceKey="c4jContractedMethodIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="c4jContractedMethodIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="c4jContractedMethodIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="net.sourceforge.c4jplugin.internal.annotationtypes.MethodAnnotationImageProvider"
            annotationType="net.sourceforge.c4jplugin.annotationtypes.MethodAnnotation"
            colorPreferenceKey="c4jMethodIndicationColor"
            colorPreferenceValue="246,76,14"
            contributesToHeader="false"
            includeOnPreferencePage="true"
            label="%c4jMethodAnnotation"
            overviewRulerPreferenceKey="c4jMethodIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="c4jMethodIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="c4jMethodIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.sourceforge.c4jplugin.annotationtypes.WarningAnnotation"
            colorPreferenceKey="c4jWarningIndicationColor"
            colorPreferenceValue="244,200,45"
            contributesToHeader="true"
            highlightPreferenceValue="false"
            icon="icons/markers/warning.gif"
            includeOnPreferencePage="true"
            label="%c4jWarningAnnotation"
            overviewRulerPreferenceKey="c4jWarningIndicationOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            textPreferenceKey="c4jWarningIndication"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="c4jWarningIndicationVerticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>

</plugin>
